include haut.pug
link(rel='stylesheet', href='/src_static/css/accueil.css')
link(href='https://fonts.googleapis.com/css?family=Voltaire', rel='stylesheet')
title Mastermind
body
  a(href='/connexion')#centre
    .name
      #mdr.letter M
      .letter a
      .letter s
      .letter t
      .letter e
      .letter r
      .letter M
      .letter i
      .letter n
      .letter d
  script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/1.0.0/anime.min.js', charset='utf-8')
  script(src='/src_static/js/accueil.js')
  
