body
  header
    nav.navbar
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-center
            li
               a(href='/accueil') Accueil
            li 
              a(href='/article') Palmares                    
            li
              a(href='/connexion') Se connecter
            if user
              li 
                a(href='/profil') Profil  
